<div class="min-h-screen flex bg-slate-50 w-full">
    <aside class="relative w-full  max-h-screen bg-[#1520A6] shadow-md hidden  sm:block sm:w-60 md:w-64 lg:w-80 md:sticky md:top-0">
        <div class="flex justify-center mt-6 mb-4">
            <img src="../../assets/RewardAdz - Logo.png" alt="logo" class="w-3/4 max-w-xs h-auto">
        </div>
        <div class="h-[2px] bg-[#FCFCFC] my-4">
        </div>
        <a href="" class="flex items-center gap-4 p-4 bg-[#FCFCFC] text-[#1520A6]">
            <img src="../../assets/home.png" alt="home icon" class="w-6 h-6">
            <p class="font-medium text-xl md:text-base">Dashboard</p>
        </a>
        <a href="" class="flex items-center gap-4 p-4 text-[#FCFCFC] hover:opacity-70">
            <img src="../../assets/campaign.png" alt="campaign icon" class="w-6 h-6">
            <p class="font-medium text-xl md:text-base">Campaigns</p>
        </a>
        <a href="" class="flex items-center gap-4 p-4 text-[#FCFCFC] hover:opacity-70">
            <img src="../../assets/receipt_long.png" alt="receipt icon" class="w-6 h-6">
            <p class="font-medium text-xl md:text-base">Transactions</p>
        </a>
        <a href="" class="flex items-center gap-4 p-4 text-[#FCFCFC] hover:opacity-70">
            <img src="../../assets/diversity_2.png" alt="Network icon" class="w-6 h-6">
            <p class="font-medium text-xl md:text-base">Advertiser Network</p>
        </a>
        <a class="flex items-center gap-4 p-4 text-[#FCFCFC] hover:opacity-70">
            <img src="../../assets/diversity_3.png" alt="Team icon" class="w-6 h-6">
            <p class="font-medium text-xl md:text-base">My Team</p>
        </a>
        <a class="flex items-center gap-4 p-4 text-[#FCFCFC] hover:opacity-70">
            <img src="../../assets/settings.png" alt="Settings icon" class="w-6 h-6">
            <p class="font-medium text-xl md:text-base">Settings</p>
        </a>
        <div class="w-96 h-[2px] bg-[#FCFCFC] mt-[350px] md:mt-[290px]">
        </div>
        <a href="#" class="flex items-center gap-4 p-4 text-[#FCFCFC] hover:opacity-70">
            <img src="../../assets/logout.png" alt="Settings icon" class="w-6 h-6">
            <p class="font-medium text-xl md:text-base">Sign Out</p>
        </a>
    </aside>
    <div class="flex-1 flex flex-col">
        <header class="flex items-center justify-between shadow-md w-full py-4 px-6 bg-[#F1F5F7] box-border sticky top-0">
            <div class="flex items-center gap-2">
                <img src="../../assets/sort.png" alt="sort icon" class="mr-10 ml-40 md:mr-6 md:ml-10">
                <div>
                    <input type="text" placeholder="Search..." class="bg-[#F1F5F7] focus:outline-none">
                    <div class="w-[280px] md:w-[200px] h-[2px] bg-[#1C1B1F]"></div>
                </div>
            </div>
            <div class="flex items-center gap-4 md:gap-2 mr-40 md:mr-10">
                <img src="../../assets/3f60f9744ac4459d50c7a70d75ca6368.png" alt="South African Flag" class="w-9 h-9 rounded-full mr-5">
                <img src="../../assets/fullscreen_exit.png" alt="fullscreen exit icon" class="w-9 h-9 mr-5">
                <img src="../../assets/notifications.png" alt="Notifications icon" class="w-9 h-9 mr-[43px]">
                <div class="flex items-center gap-2">
                    <img src="../../assets/Screenshot 2024-02-14 at 12.34.35.png" alt="user profile picture" class="w-9 h-9 rounded-full">
                    <p class="h-6 font-medium text-[1rem]">John Kamara</p>
                    <img src="../../assets/arrow_drop_down.png" alt="drop-down arrow" class="h-6 w-6">
                </div>
                <img src="../../assets/settings (1).png" alt="settings icon" class="w-9 h-9">
            </div>
        </header>
        
        <footer>
            <div class="w-full h-[50px] bg-[#F1F5F7] mt-20 pr-40 md:pr-20 pl-40 md:pl-20 flex justify-between items-center">
                <div class="h-[21px]">
                    <p class="font-normal text-[0.875rem] text-[#1C1B1F]">{{currentYear}} &copy; RewardAdz. All Rights Reserved.</p>
                </div>
                <div>
                    <p class="font-normal text-[0.875rem] text-[#1C1B1F]">Terms and Conditions | Privacy Policy</p>
                </div>
                <div class="flex gap-[5px] w-[86px] h-[14px]">
                    <a href=""><img src="../../assets/Facebook - Negative.png" alt=""></a>
                    <a href=""><img src="../../assets/Twitter - Negative.png" alt=""></a>
                    <a href=""><img src="../../assets/Instagram - Negative.png" alt=""></a>
                    <a href=""><img src="../../assets/LinkedIn - Negative.png" alt=""></a>
                </div>
            </div>
        </footer>
    </div>
</div>
