<div class="min-h-screen flex w-screen">
    <aside [ngClass]="{'hidden': !isSideBarVisible, 'block': isSideBarVisible, 'w-2/5': true, 'max-h-screen': true, 'bg-[#1520A6]': true, 'shadow-md': true, 'z-10': true, 'sticky': true, 'top-0': true}" class="sm:w-52 md:w-72 md:block">
        <div class="flex justify-center mt-4 mb-2 md:mt-6 md:mb-4">
            <img src="../../assets/RewardAdz - Logo.png" alt="logo" class="w-3/4 max-w-xs h-auto">
        </div>
        <div class="h-[2px] bg-[#FCFCFC] my-2 md:my-4">
        </div>
        <a [routerLink]="['/dashboard']" class="flex items-center gap-4 p-4 text-[#FCFCFC] hover:opacity-70 cursor-pointer">
            <img src="../../assets/home (1).png" alt="home icon" class="w-6 h-6">
            <p class="font-medium text-sm md:text-base">Dashboard</p>
        </a>
        <a class="flex items-center gap-4 p-4 bg-[#FCFCFC] text-[#1520A6] cursor-pointer">
            <img src="../../assets/campaign (1).png" alt="campaign icon" class="w-6 h-6">
            <p class="font-medium text-sm md:text-base">Campaigns</p>
        </a>
        <a [routerLink]="['/transactions']" class="flex items-center gap-4 p-4 text-[#FCFCFC] hover:opacity-70 cursor-pointer">
            <img src="../../assets/receipt_long.png" alt="receipt icon" class="w-6 h-6">
            <p class="font-medium text-sm md:text-base">Transactions</p>
        </a>
        <a class="flex items-center gap-4 p-4 text-[#FCFCFC] hover:opacity-70 cursor-pointer">
            <img src="../../assets/diversity_2.png" alt="Network icon" class="w-6 h-6">
            <p class="font-medium text-sm md:text-base">Advertiser Network</p>
        </a>
        <a class="flex items-center gap-4 p-4 text-[#FCFCFC] hover:opacity-70 cursor-pointer">
            <img src="../../assets/diversity_3.png" alt="Team icon" class="w-6 h-6">
            <p class="font-medium text-sm md:text-base">My Team</p>
        </a>
        <a class="flex items-center gap-4 p-4 text-[#FCFCFC] hover:opacity-70 cursor-pointer">
            <img src="../../assets/settings.png" alt="Settings icon" class="w-6 h-6">
            <p class="font-medium text-sm md:text-base">Settings</p>
        </a>
        <div class="flex flex-col sticky bottom-0">
            <div class="w-56 md:w-80 h-[2px] bg-[#FCFCFC] mt-[350px] md:mt-[290px]">
            </div>
            <a href="#" class="flex items-center gap-4 p-4 text-[#FCFCFC] hover:opacity-70 cursor-pointer">
                <img src="../../assets/logout.png" alt="Settings icon" class="w-6 h-6">
                <p class="font-medium text-sm md:text-base">Sign Out</p>
            </a>
        </div>
    </aside>
    <div class="flex-1 flex flex-col w-4/5">
        <header class="flex justify-between shadow-md w-screen md:w-full px-2 py-1 md:py-4 md:px-6 bg-[#F1F5F7] sticky top-0">
            <button (click)="toggleSidebar()" class="md:hidden"><img src="../../assets/arrow_drop_down.png" alt=""></button>
            <div class="flex items-center gap-2">
                <img src="../../assets/sort.png" alt="sort icon" class="hidden md:block mr-4 ml-4 md:mr-6 md:ml-10">
                <div>
                    <input type="text" placeholder="Search..." class="hidden md:block sm:ml-4 bg-[#F1F5F7] focus:outline-none">
                    <div class="w-auto md:w-auto h-[2px] bg-[#1C1B1F]"></div>
                </div>
            </div>
            <div class="flex items-center gap-1 md:gap-1 mr-4 md:mr-10">
                <img src="../../assets/3f60f9744ac4459d50c7a70d75ca6368.png" alt="South African Flag" class="hidden xl:block w-9 h-9 rounded-full mr-5">
                <img src="../../assets/fullscreen_exit.png" alt="fullscreen exit icon" class="hidden xl:block w-9 h-9 mr-5">
                <img src="../../assets/notifications.png" alt="Notifications icon" class="hidden xl:block w-9 h-9 mr-[43px]">
                <div class="flex items-center gap-2">
                    <img src="../../assets/Screenshot 2024-02-14 at 12.34.35.png" alt="user profile picture" class="md:w-9 w-7 md:h-9 h-7 rounded-full">
                    <p class="h-6 font-medium text-xs md:text-base">John Kamara</p>
                    <img src="../../assets/arrow_drop_down.png" alt="drop-down arrow" class="h-6 w-6">
                </div>
                <img src="../../assets/settings (1).png" alt="settings icon" class="md:w-9 w-7 md:h-9 h-7">
            </div>
        </header>
        <div class="mx-4 my-10 md:mx-16">
            <div>
                <h2 class="font-semibold text-2xl md:text-4xl mb-5 text-[#1C1B1F]">Campaigns</h2>
                <div>
                    <p class="font-semibold text-xs md:text-xs text-[#1C1B1F]"><a [routerLink]="['/dashboard']">Home</a> >  <span class="text-[#FD6A02]">Campaigns</span></p>
                </div>
            </div>
            <div class="block md:flex mt-5 md:mt-10 gap-5 w-full">
                <div class="flex md:w-2/3 w-full mb-5">
                    <input type="text" placeholder="Search..." class="border-[1px] text-[#85899F] rounded-[50px] h-10 w-full p-5 focus:outline-none">
                </div>
                <div class="flex flex-wrap md:w-1/3 w-full">
                    <button class="w-full flex justify-center items-center gap-[10px] rounded-[50px] h-8 md:h-11 font-bold md:font-semibold text-base text-[#FCFCFC] bg-[#FD6A02] hover:bg-[#E66800]" (click)="redirectTo()">
                        <img src="../../assets/add_circle.png" alt="Add icon">
                        <span>Create A New Campaign</span>
                    </button>
                </div>
            </div>
            <div class="table table-auto w-full mb-10">
                <div class="table-header-group">
                    <div class="table-row bg-[#FCFCFC] shadow-lg rounded-xl items-center">
                        <div class="table-cell font-semibold text-sm p-3">Title</div>
                        <div class="table-cell font-semibold text-sm">Category</div>
                        <div class="table-cell font-semibold text-sm">Views</div>
                        <div class="table-cell font-semibold text-sm">Date Published</div>
                        <div class="table-cell font-semibold text-sm">Status</div>
                        <div class="table-cell font-semibold text-sm">Active</div>
                        <div class="table-cell font-semibold text-sm">Actions</div>
                    </div>
                </div>
                <div class="table-row-group">
                    <div class="table-row shadow-lg hover:shadow-2xl rounded-xl">
                        <div class="table-cell p-3">
                            <div class="flex items-center gap-2">
                                <!-- <img src="../../assets/KFC-logo.png" alt="" class="h-8"> -->
                                <p class="font-medium text-sm text-[#FD6A02]">KFC - Stay Connected</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div>
                                <p class="text-xs font-medium text-[#1520A6]">Video</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center gap-2">
                                <!-- <img src="../../assets/bar_chart_4_bars.png" alt=""> -->
                                <p class="text-xs font-medium text-[#85899F]">912</p>
                            </div>
                        </div>
                        <div class="table-cell font-medium text-xs text-[#85899F]">20 November 2023 12:00:53</div>
                        <div class="table-cell">
                            <div class="bg-[#85899F] flex justify-center items-center rounded-xl w-20">
                                <p class="text-[#FCFCFC] font-medium text-[10px]">Unpublished</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center">
                                <img src="../../assets/Button Turn.png" alt="" class="h-5">
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex gap-2">
                                <div class="flex items-center">
                                    <button class="bg-[#FCFCFC] shadow-lg py-1 px-3 flex items-center justify-center gap-1 rounded-xl">
                                        <img src="../../assets/quiz.png" alt="" class="h-4">
                                        <p class="text-[#FD6A02] font-medium text-xs">Quiz</p>
                                    </button>
                                </div>
                                <div>
                                    <button class="bg-[#FCFCFC] shadow-lg py-1 px-3 flex items-center justify-center gap-1 rounded-xl">
                                        <img src="../../assets/drive_file_rename_outline.png" alt="" class="h-4">
                                        <p class="text-[#30A245] font-medium text-xs">Edit</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center gap-5">
                                <div class="bg-[#FD6A02] p-[5px] rounded-xl mt-3">
                                    <img src="../../assets/visibility.png" alt="" class="h-5">
                                </div>
                                <div class="bg-[#FCFCFC] p-[5px] rounded-xl shadow-lg mt-3">
                                    <img src="../../assets/delete.png" alt="" class="h-5">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row shadow-lg hover:shadow-2xl rounded-xl">
                        <div class="table-cell p-3">
                            <div class="flex items-center gap-2">
                                <!-- <img src="../../assets/KFC-logo.png" alt="" class="h-8"> -->
                                <p class="font-medium text-sm text-[#FD6A02]">Coca Cola - Stay Connected</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div>
                                <p class="text-xs font-medium text-[#1520A6]">Survey</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center gap-2">
                                <!-- <img src="../../assets/bar_chart_4_bars.png" alt=""> -->
                                <p class="text-xs font-medium text-[#85899F]">1098</p>
                            </div>
                        </div>
                        <div class="table-cell font-medium text-xs text-[#85899F]">20 November 2023 12:00:53</div>
                        <div class="table-cell">
                            <div class="bg-[#1520A6] flex justify-center items-center rounded-xl w-20">
                                <p class="text-[#FCFCFC] font-medium text-[10px]">Published</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center">
                                <img src="../../assets/Button Turn.png" alt="" class="h-5">
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex gap-2">
                                <div class="flex items-center">
                                    <button class="bg-[#FCFCFC] shadow-lg py-1 px-3 flex items-center justify-center gap-1 rounded-xl">
                                        <img src="../../assets/quiz.png" alt="" class="h-4">
                                        <p class="text-[#FD6A02] font-medium text-xs">Quiz</p>
                                    </button>
                                </div>
                                <div>
                                    <button class="bg-[#FCFCFC] shadow-lg py-1 px-3 flex items-center justify-center gap-1 rounded-xl">
                                        <img src="../../assets/drive_file_rename_outline.png" alt="" class="h-4">
                                        <p class="text-[#30A245] font-medium text-xs">Edit</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center gap-5">
                                <div class="bg-[#FD6A02] p-[5px] rounded-xl mt-3">
                                    <img src="../../assets/visibility.png" alt="" class="h-5">
                                </div>
                                <div class="bg-[#FCFCFC] p-[5px] rounded-xl shadow-lg mt-3">
                                    <img src="../../assets/delete.png" alt="" class="h-5">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row shadow-lg hover:shadow-2xl rounded-xl">
                        <div class="table-cell p-3">
                            <div class="flex items-center gap-2">
                                <!-- <img src="../../assets/KFC-logo.png" alt="" class="h-8"> -->
                                <p class="font-medium text-sm text-[#FD6A02]">Primedia - Stay Connected</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div>
                                <p class="text-xs font-medium text-[#1520A6]">Social</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center gap-2">
                                <!-- <img src="../../assets/bar_chart_4_bars.png" alt=""> -->
                                <p class="text-xs font-medium text-[#85899F]">20,987</p>
                            </div>
                        </div>
                        <div class="table-cell font-medium text-xs text-[#85899F]">20 November 2023 12:00:53</div>
                        <div class="table-cell">
                            <div class="bg-[#1520A6] flex justify-center items-center rounded-xl w-20">
                                <p class="text-[#FCFCFC] font-medium text-[10px]">Published</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center">
                                <img src="../../assets/Button Turn.png" alt="" class="h-5">
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex gap-2">
                                <div class="flex items-center">
                                    <button class="bg-[#FCFCFC] shadow-lg py-1 px-3 flex items-center justify-center gap-1 rounded-xl">
                                        <img src="../../assets/quiz.png" alt="" class="h-4">
                                        <p class="text-[#FD6A02] font-medium text-xs">Quiz</p>
                                    </button>
                                </div>
                                <div>
                                    <button class="bg-[#FCFCFC] shadow-lg py-1 px-3 flex items-center justify-center gap-1 rounded-xl">
                                        <img src="../../assets/drive_file_rename_outline.png" alt="" class="h-4">
                                        <p class="text-[#30A245] font-medium text-xs">Edit</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center gap-5">
                                <div class="bg-[#FD6A02] p-[5px] rounded-xl mt-3">
                                    <img src="../../assets/visibility.png" alt="" class="h-5">
                                </div>
                                <div class="bg-[#FCFCFC] p-[5px] rounded-xl shadow-lg mt-3">
                                    <img src="../../assets/delete.png" alt="" class="h-5">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row shadow-lg hover:shadow-2xl rounded-xl">
                        <div class="table-cell p-3">
                            <div class="flex items-center gap-2">
                                <!-- <img src="../../assets/KFC-logo.png" alt="" class="h-8"> -->
                                <p class="font-medium text-sm text-[#FD6A02]">Primedia - Stay Connected</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div>
                                <p class="text-xs font-medium text-[#1520A6]">Video</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center gap-2">
                                <!-- <img src="../../assets/bar_chart_4_bars.png" alt=""> -->
                                <p class="text-xs font-medium text-[#85899F]">43,978</p>
                            </div>
                        </div>
                        <div class="table-cell font-medium text-xs text-[#85899F]">20 November 2023 12:00:53</div>
                        <div class="table-cell">
                            <div class="bg-[#1520A6] flex justify-center items-center rounded-xl w-20">
                                <p class="text-[#FCFCFC] font-medium text-[10px]">Published</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center">
                                <img src="../../assets/Button Turn.png" alt="" class="h-5">
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex gap-2">
                                <div class="flex items-center">
                                    <button class="bg-[#FCFCFC] shadow-lg py-1 px-3 flex items-center justify-center gap-1 rounded-xl">
                                        <img src="../../assets/quiz.png" alt="" class="h-4">
                                        <p class="text-[#FD6A02] font-medium text-xs">Quiz</p>
                                    </button>
                                </div>
                                <div>
                                    <button class="bg-[#FCFCFC] shadow-lg py-1 px-3 flex items-center justify-center gap-1 rounded-xl">
                                        <img src="../../assets/drive_file_rename_outline.png" alt="" class="h-4">
                                        <p class="text-[#30A245] font-medium text-xs">Edit</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center gap-5">
                                <div class="bg-[#FD6A02] p-[5px] rounded-xl mt-3">
                                    <img src="../../assets/visibility.png" alt="" class="h-5">
                                </div>
                                <div class="bg-[#FCFCFC] p-[5px] rounded-xl shadow-lg mt-3">
                                    <img src="../../assets/delete.png" alt="" class="h-5">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row shadow-lg hover:shadow-2xl rounded-xl">
                        <div class="table-cell p-3">
                            <div class="flex items-center gap-2">
                                <!-- <img src="../../assets/KFC-logo.png" alt="" class="h-8"> -->
                                <p class="font-medium text-sm text-[#FD6A02]">Corona - Stay Connected</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div>
                                <p class="text-xs font-medium text-[#1520A6]">Survey</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center gap-2">
                                <!-- <img src="../../assets/bar_chart_4_bars.png" alt=""> -->
                                <p class="text-xs font-medium text-[#85899F]">3,854</p>
                            </div>
                        </div>
                        <div class="table-cell font-medium text-xs text-[#85899F]">20 November 2023 12:00:53</div>
                        <div class="table-cell">
                            <div class="bg-[#85899F] flex justify-center items-center rounded-xl w-20">
                                <p class="text-[#FCFCFC] font-medium text-[10px]">Unpublished</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center">
                                <img src="../../assets/Button Turn.png" alt="" class="h-5">
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex gap-2">
                                <div class="flex items-center">
                                    <button class="bg-[#FCFCFC] shadow-lg py-1 px-3 flex items-center justify-center gap-1 rounded-xl">
                                        <img src="../../assets/quiz.png" alt="" class="h-4">
                                        <p class="text-[#FD6A02] font-medium text-xs">Quiz</p>
                                    </button>
                                </div>
                                <div>
                                    <button class="bg-[#FCFCFC] shadow-lg py-1 px-3 flex items-center justify-center gap-1 rounded-xl">
                                        <img src="../../assets/drive_file_rename_outline.png" alt="" class="h-4">
                                        <p class="text-[#30A245] font-medium text-xs">Edit</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center gap-5">
                                <div class="bg-[#FD6A02] p-[5px] rounded-xl mt-3">
                                    <img src="../../assets/visibility.png" alt="" class="h-5">
                                </div>
                                <div class="bg-[#FCFCFC] p-[5px] rounded-xl shadow-lg mt-3">
                                    <img src="../../assets/delete.png" alt="" class="h-5">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row shadow-lg hover:shadow-2xl rounded-xl">
                        <div class="table-cell p-3">
                            <div class="flex items-center gap-2">
                                <!-- <img src="../../assets/KFC-logo.png" alt="" class="h-8"> -->
                                <p class="font-medium text-sm text-[#FD6A02]">Lamborghini - Stay Connected</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div>
                                <p class="text-xs font-medium text-[#1520A6]">Social</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center gap-2">
                                <!-- <img src="../../assets/bar_chart_4_bars.png" alt=""> -->
                                <p class="text-xs font-medium text-[#85899F]">312</p>
                            </div>
                        </div>
                        <div class="table-cell font-medium text-xs text-[#85899F]">20 November 2023 12:00:53</div>
                        <div class="table-cell">
                            <div class="bg-[#1520A6] flex justify-center items-center rounded-xl w-20">
                                <p class="text-[#FCFCFC] font-medium text-[10px]">Published</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center">
                                <img src="../../assets/Button Turn.png" alt="" class="h-5">
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex gap-2">
                                <div class="flex items-center">
                                    <button class="bg-[#FCFCFC] shadow-lg py-1 px-3 flex items-center justify-center gap-1 rounded-xl">
                                        <img src="../../assets/quiz.png" alt="" class="h-4">
                                        <p class="text-[#FD6A02] font-medium text-xs">Quiz</p>
                                    </button>
                                </div>
                                <div>
                                    <button class="bg-[#FCFCFC] shadow-lg py-1 px-3 flex items-center justify-center gap-1 rounded-xl">
                                        <img src="../../assets/drive_file_rename_outline.png" alt="" class="h-4">
                                        <p class="text-[#30A245] font-medium text-xs">Edit</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center gap-5">
                                <div class="bg-[#FD6A02] p-[5px] rounded-xl mt-3">
                                    <img src="../../assets/visibility.png" alt="" class="h-5">
                                </div>
                                <div class="bg-[#FCFCFC] p-[5px] rounded-xl shadow-lg mt-3">
                                    <img src="../../assets/delete.png" alt="" class="h-5">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row shadow-lg hover:shadow-2xl rounded-xl">
                        <div class="table-cell p-3">
                            <div class="flex items-center gap-2">
                                <!-- <img src="../../assets/KFC-logo.png" alt="" class="h-8"> -->
                                <p class="font-medium text-sm text-[#FD6A02]">Cannabis Shop - Stay Connected</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div>
                                <p class="text-xs font-medium text-[#1520A6]">Video</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center gap-2">
                                <!-- <img src="../../assets/bar_chart_4_bars.png" alt=""> -->
                                <p class="text-xs font-medium text-[#85899F]">456</p>
                            </div>
                        </div>
                        <div class="table-cell font-medium text-xs text-[#85899F]">20 November 2023 12:00:53</div>
                        <div class="table-cell">
                            <div class="bg-[#1520A6] flex justify-center items-center rounded-xl w-20">
                                <p class="text-[#FCFCFC] font-medium text-[10px]">Published</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center">
                                <img src="../../assets/Button Turn (1).png" alt="" class="h-5">
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex gap-2">
                                <div class="flex items-center">
                                    <button class="bg-[#FCFCFC] shadow-lg py-1 px-3 flex items-center justify-center gap-1 rounded-xl">
                                        <img src="../../assets/quiz.png" alt="" class="h-4">
                                        <p class="text-[#FD6A02] font-medium text-xs">Quiz</p>
                                    </button>
                                </div>
                                <div>
                                    <button class="bg-[#FCFCFC] shadow-lg py-1 px-3 flex items-center justify-center gap-1 rounded-xl">
                                        <img src="../../assets/drive_file_rename_outline.png" alt="" class="h-4">
                                        <p class="text-[#30A245] font-medium text-xs">Edit</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center gap-5">
                                <div class="bg-[#FD6A02] p-[5px] rounded-xl mt-3">
                                    <img src="../../assets/visibility.png" alt="" class="h-5">
                                </div>
                                <div class="bg-[#FCFCFC] p-[5px] rounded-xl shadow-lg mt-3">
                                    <img src="../../assets/delete.png" alt="" class="h-5">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row shadow-lg hover:shadow-2xl rounded-xl">
                        <div class="table-cell p-3">
                            <div class="flex items-center gap-2">
                                <!-- <img src="../../assets/KFC-logo.png" alt="" class="h-8"> -->
                                <p class="font-medium text-sm text-[#FD6A02]">MadCap - Stay Connected</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div>
                                <p class="text-xs font-medium text-[#1520A6]">Video</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center gap-2">
                                <!-- <img src="../../assets/bar_chart_4_bars.png" alt=""> -->
                                <p class="text-xs font-medium text-[#85899F]">7,892</p>
                            </div>
                        </div>
                        <div class="table-cell font-medium text-xs text-[#85899F]">20 November 2023 12:00:53</div>
                        <div class="table-cell">
                            <div class="bg-[#1520A6] flex justify-center items-center rounded-xl w-20">
                                <p class="text-[#FCFCFC] font-medium text-[10px]">Published</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center">
                                <img src="../../assets/Button Turn.png" alt="" class="h-5">
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex gap-2">
                                <div class="flex items-center">
                                    <button class="bg-[#FCFCFC] shadow-lg py-1 px-3 flex items-center justify-center gap-1 rounded-xl">
                                        <img src="../../assets/quiz.png" alt="" class="h-4">
                                        <p class="text-[#FD6A02] font-medium text-xs">Quiz</p>
                                    </button>
                                </div>
                                <div>
                                    <button class="bg-[#FCFCFC] shadow-lg py-1 px-3 flex items-center justify-center gap-1 rounded-xl">
                                        <img src="../../assets/drive_file_rename_outline.png" alt="" class="h-4">
                                        <p class="text-[#30A245] font-medium text-xs">Edit</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center gap-5">
                                <div class="bg-[#FD6A02] p-[5px] rounded-xl mt-3">
                                    <img src="../../assets/visibility.png" alt="" class="h-5">
                                </div>
                                <div class="bg-[#FCFCFC] p-[5px] rounded-xl shadow-lg mt-3">
                                    <img src="../../assets/delete.png" alt="" class="h-5">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row shadow-lg hover:shadow-2xl rounded-xl">
                        <div class="table-cell p-3">
                            <div class="flex items-center gap-2">
                                <!-- <img src="../../assets/KFC-logo.png" alt="" class="h-8"> -->
                                <p class="font-medium text-sm text-[#FD6A02]">T Mobile - Stay Connected</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div>
                                <p class="text-xs font-medium text-[#1520A6]">Video</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center gap-2">
                                <!-- <img src="../../assets/bar_chart_4_bars.png" alt=""> -->
                                <p class="text-xs font-medium text-[#85899F]">5,901</p>
                            </div>
                        </div>
                        <div class="table-cell font-medium text-xs text-[#85899F]">20 November 2023 12:00:53</div>
                        <div class="table-cell">
                            <div class="bg-[#1520A6] flex justify-center items-center rounded-xl w-20">
                                <p class="text-[#FCFCFC] font-medium text-[10px]">Published</p>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center">
                                <img src="../../assets/Button Turn (1).png" alt="" class="h-5">
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex gap-2">
                                <div class="flex items-center">
                                    <button class="bg-[#FCFCFC] shadow-lg py-1 px-3 flex items-center justify-center gap-1 rounded-xl">
                                        <img src="../../assets/quiz.png" alt="" class="h-4">
                                        <p class="text-[#FD6A02] font-medium text-xs">Quiz</p>
                                    </button>
                                </div>
                                <div>
                                    <button class="bg-[#FCFCFC] shadow-lg py-1 px-3 flex items-center justify-center gap-1 rounded-xl">
                                        <img src="../../assets/drive_file_rename_outline.png" alt="" class="h-4">
                                        <p class="text-[#30A245] font-medium text-xs">Edit</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="table-cell">
                            <div class="flex items-center gap-5">
                                <div class="bg-[#FD6A02] p-[5px] rounded-xl mt-3">
                                    <img src="../../assets/visibility.png" alt="" class="h-5">
                                </div>
                                <div class="bg-[#FCFCFC] p-[5px] rounded-xl shadow-lg mt-3">
                                    <img src="../../assets/delete.png" alt="" class="h-5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-end gap-3">
                <div class="border-[1px] border-[#1520A6] rounded w-8 h-8 xl:w-10 xl:h-10 flex justify-center items-center">
                    <p class="text-[#1520A6] font-semibold text-base">1</p>
                </div>
                <div class="border-[1px] border-[#FD6A02] rounded w-8 h-8 xl:w-10 xl:h-10 flex justify-center items-center">
                    <p class="text-[#FD6A02] font-semibold text-base">2</p>
                </div>
                <div class="border-[1px] border-[#FD6A02] rounded w-8 h-8 xl:w-10 xl:h-10 flex justify-center items-center">
                    <p class="text-[#FD6A02] font-semibold text-base">3</p>
                </div>
                <div class="border-[1px] border-[#FD6A02] rounded w-8 h-8 xl:w-10 xl:h-10 flex justify-center items-center">
                    <img src="../../assets/navigate_next (1).png" alt="">
                </div>
            </div>
        </div>
        <footer>
            <div class="max-w-full w-screen md:w-full h-[50px] bg-[#F1F5F7] mt-20 pr-4 md:pr-20 pl-4 md:pl-20 flex justify-between items-center">
                <div class="max-w-6xl mx-auto w-full flex justify-between items-center">
                    <div class="h-[21px]">
                        <p class="font-normal text-sm text-[#1C1B1F]">{{currentYear}} &copy; RewardAdz. All Rights Reserved.</p>
                    </div>
                    <div>
                        <p class="font-normal text-[0.875rem] text-[#1C1B1F]">Terms and Conditions | Privacy Policy</p>
                    </div>
                    <div class="flex gap-[5px] h-[14px]">
                        <a href=""><img src="../../assets/Facebook - Negative.png" alt=""></a>
                        <a href=""><img src="../../assets/Twitter - Negative.png" alt=""></a>
                        <a href=""><img src="../../assets/Instagram - Negative.png" alt=""></a>
                        <a href=""><img src="../../assets/LinkedIn - Negative.png" alt=""></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>



<!-- <div class="md:mx-16 my-10">
    <div>
        <h2 class="font-semibold sm:text-4xl mb-5 text-[#1C1B1F]">Campaigns</h2>
        <div>
            <p class="font-semibold text-xs text-[#1C1B1F]">Home  >  <span class="text-[#FD6A02]">Campaigns</span></p>
        </div>
    </div>
    <div class="flex mt-10 gap-5 w-full">
        <div class="flex w-2/3">
            <input type="text" placeholder="Search..." class="border-[1px] text-[#85899F] rounded-[50px] h-10 w-full p-5 focus:outline-none">
        </div>
        <div class="flex w-1/3">
            <button class="w-full flex justify-center items-center gap-[10px] rounded-[50px] font-bold md:font-semibold text-base text-[#FCFCFC] bg-[#FD6A02]" (click)="redirectTo()">
                <img src="../../assets/add_circle.png" alt="">
                <span>Create A New Campaign</span>
            </button>
        </div>
    </div>
    <div class="mt-10 w-full min-w-max">
        <table class="divide-y w-full table-auto">
            <thead>
                <tr class="bg-white shadow-lg rounded-[12px] p-2 mb-2">
                    <th class="text-left font-semibold text-sm text-[#1C1B1F] tracking-wider">Title</th>
                    <th class="text-left font-semibold text-sm text-[#1C1B1F] tracking-wider">Category</th>
                    <th class="text-left font-semibold text-sm text-[#1C1B1F] tracking-wider">Views</th>
                    <th class="text-left font-semibold text-sm text-[#1C1B1F] tracking-wider">Date Published</th>
                    <th class="text-left font-semibold text-sm text-[#1C1B1F] tracking-wider">Status</th>
                    <th class="text-left font-semibold text-sm text-[#1C1B1F] tracking-wider">Active</th>
                    <th class="text-left font-semibold text-sm text-[#1C1B1F] tracking-wider">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white shadow-lg rounded-[12px] h-[60px] ">
                    <td class="flex items-center space-x-2">
                        <img src="../../assets/KFC-logo.png" alt="KFC logo" class="w-8 h-8">
                        <p class="font-medium text-base md:text-xs text-[#FD6A02]">KFC - Stay Connected</p>
                    </td>
                    <td class="">
                        <p class="text-[#1520A6] font-medium text-xs">Video</p>
                    </td>
                    <td class="flex gap-[8px] py-4 px-6">
                        <img src="../../assets/bar_chart_4_bars.png" alt="" class="w-5 h-5">
                        <p class="text-[#85899F] text-xs font-medium">912</p>
                    </td>
                    <td>
                        <p class="font-medium text-[#85899F] text-xs">20 November 2023 12:00:53</p>
                    </td>
                    <td class="flex items-center justify-center">
                        <div class="bg-[#85899F] px-[10px] pt-[3px] pb-[2px] rounded-[12px]">
                            <p class="text-[#FCFCFC] font-medium text-[0.625rem]">Published</p>
                        </div>
                    </td>
                    <td>
                        <button>
                            <img src="../../assets/Button Turn.png" alt="" class="h-5 w-[39px]">
                        </button>
                    </td>
                    <td class="flex gap-2">
                        <div>
                            <button class="flex items-center justify-center bg-[#FCFCFC] rounded-[12px] gap-[10px] shadow-md h-9 w-24">
                                <img src="../../assets/quiz.png" alt="" class="w-5 h-5">
                                <p class="text-[#FD6A02] text-sm font-medium">Quiz</p>
                            </button>
                        </div>
                        <div>
                            <button class="flex items-center justify-center bg-[#FCFCFC] rounded-[12px] gap-[10px] shadow-md h-9 w-24">
                                <img src="../../assets/drive_file_rename_outline.png" alt="" class="w-5 h-5">
                                <p class="text-[#30A245] text-sm font-medium h-[21px]">Edit</p>
                            </button>
                        </div>
                        <div>
                            <button >
                                <img src="../../assets/eye.png" alt="">
                            </button>
                        </div>
                        <div>
                            <button>
                                <img src="../../assets/trash-can.png" alt="">
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->