<div class="min-h-screen flex w-screen">
    <aside [ngClass]="{'hidden': !isSideBarVisible, 'block': isSideBarVisible, 'w-2/5': true, 'max-h-screen': true, 'bg-[#1520A6]': true, 'shadow-md': true, 'z-10': true, 'sticky': true, 'top-0': true}" class="sm:w-52 md:w-72 md:block">
        <div class="flex justify-center mt-4 mb-2 md:mt-6 md:mb-4">
            <img src="../../assets/RewardAdz - Logo.png" alt="logo" class="w-3/4 max-w-xs h-auto">
        </div>
        <div class="h-[2px] bg-[#FCFCFC] my-2 md:my-4">
        </div>
        <a [routerLink]="['/dashboard']"  class="flex items-center gap-4 p-4 text-[#FCFCFC] hover:opacity-70 cursor-pointer">
            <img src="../../assets/home (1).png" alt="home icon" class="w-6 h-6">
            <p class="font-medium text-sm md:text-base">Dashboard</p>
        </a>
        <a class="flex items-center gap-4 p-4 bg-[#FCFCFC] text-[#1520A6] cursor-pointer">
            <img src="../../assets/campaign (1).png" alt="campaign icon" class="w-6 h-6">
            <p class="font-medium text-sm md:text-base">Campaigns</p>
        </a>
        <a [routerLink]="['/transactions']" href="" class="flex items-center gap-4 p-4 text-[#FCFCFC] hover:opacity-70 cursor-pointer">
            <img src="../../assets/receipt_long.png" alt="receipt icon" class="w-6 h-6">
            <p class="font-medium text-sm md:text-base">Transactions</p>
        </a>
        <a class="flex items-center gap-4 p-4 text-[#FCFCFC] hover:opacity-70 cursor-pointer">
            <img src="../../assets/diversity_2.png" alt="Network icon" class="w-6 h-6">
            <p class="font-medium text-sm md:text-base">Advertiser Network</p>
        </a>
        <a class="flex items-center gap-4 p-4 text-[#FCFCFC] hover:opacity-70 cursor-pointer">
            <img src="../../assets/diversity_3.png" alt="Team icon" class="w-6 h-6">
            <p class="font-medium text-sm md:text-base">My Team</p>
        </a>
        <a class="flex items-center gap-4 p-4 text-[#FCFCFC] hover:opacity-70 cursor-pointer">
            <img src="../../assets/settings.png" alt="Settings icon" class="w-6 h-6">
            <p class="font-medium text-sm md:text-base">Settings</p>
        </a>
        <div class="flex flex-col sticky bottom-0">
            <div class="w-56 md:w-80 h-[2px] bg-[#FCFCFC] mt-[350px] md:mt-[290px]">
            </div>
            <a href="#" class="flex items-center gap-4 p-4 text-[#FCFCFC] hover:opacity-70 cursor-pointer">
                <img src="../../assets/logout.png" alt="Settings icon" class="w-6 h-6">
                <p class="font-medium text-sm md:text-base">Sign Out</p>
            </a>
        </div>
    </aside>
    <div class="flex-1 flex flex-col w-4/5">
        <header class="flex justify-between shadow-md w-screen md:w-full px-2 py-1 md:py-4 md:px-6 mb-9 bg-[#F1F5F7] sticky top-0">
            <button (click)="toggleSidebar()" class="md:hidden"><img src="../../assets/arrow_drop_down.png" alt=""></button>
            <div class="flex items-center gap-2">
                <img src="../../assets/sort.png" alt="sort icon" class="hidden md:block mr-4 ml-4 md:mr-6 md:ml-10">
                <div>
                    <input type="text" placeholder="Search..." class="hidden md:block sm:ml-4 bg-[#F1F5F7] focus:outline-none">
                    <div class="w-auto md:w-auto h-[2px] bg-[#1C1B1F]"></div>
                </div>
            </div>
            <div class="flex items-center gap-1 md:gap-1 mr-4 md:mr-10">
                <img src="../../assets/3f60f9744ac4459d50c7a70d75ca6368.png" alt="South African Flag" class="hidden xl:block w-9 h-9 rounded-full mr-5">
                <img src="../../assets/fullscreen_exit.png" alt="fullscreen exit icon" class="hidden xl:block w-9 h-9 mr-5">
                <img src="../../assets/notifications.png" alt="Notifications icon" class="hidden xl:block w-9 h-9 mr-[43px]">
                <div class="flex items-center gap-2">
                    <img src="../../assets/Screenshot 2024-02-14 at 12.34.35.png" alt="user profile picture" class="md:w-9 w-7 md:h-9 h-7 rounded-full">
                    <p class="h-6 font-medium text-xs md:text-base">John Kamara</p>
                    <img src="../../assets/arrow_drop_down.png" alt="drop-down arrow" class="h-6 w-6">
                </div>
                <img src="../../assets/settings (1).png" alt="settings icon" class="md:w-9 w-7 md:h-9 h-7">
            </div>
        </header>
        <div class="w-full mx-4 md:mx-16 flex flex-wrap justify-between items-center">
            <div class="mb-3">
                <h2 class="font-semibold text-2xl md:text-4xl mb-5 text-[#1C1B1F]">Campaigns</h2>
                <div>
                    <p class="font-semibold text-xs md:text-xs text-[#1C1B1F]">Home  >  Campaigns > <span class="text-[#FD6A02]">Existing Campaign</span></p>
                </div>
            </div>
            <div class="flex mr-36">
                <button class="bg-[#FD6A02] rounded-[50px] px-9 py-2 md:px-12 md:py-2 font-bold text-[#FCFCFC] text-xs md:text-sm hover:bg-[#E66800]">Video Responses</button>
            </div>
        </div>
        <div class="flex flex-wrap mt-4 gap-5 md:mt-10 mx-4 md:ml-16 mr-20">
            <div class="w-full xl:w-[32%] p-5 rounded-3xl bg-[#F3F3F3] border-2 border-[#DFDFDF]">
                <div class="mb-1">
                    <p class="font-medium text-xs text-[#C2C2C2]">Campaign Title</p>
                    <p class="font-medium text-sm text-[#1C1B1F]">Adanian Labs Limited - Effectiveness Survey</p>
                </div>
                <div class="mb-1">
                    <p class="font-medium text-xs text-[#C2C2C2]">Campain Type</p>
                    <p class="font-medium text-sm text-[#1C1B1F]">Video</p>
                </div>
                <div class="mb-1">
                    <p class="font-medium text-xs text-[#C2C2C2]">Description</p>
                    <p class="font-medium text-sm text-[#1C1B1F]">This is just some filler text to get to see how this section will look with content in it.</p>
                </div>
                <div class="flex justify-between mb-1">
                    <div>
                        <p class="font-medium text-xs text-[#C2C2C2]">Target Gender</p>
                        <p class="font-medium text-sm text-[#1C1B1F]">Male</p>
                    </div>
                    <div>
                        <p class="font-medium text-xs text-[#C2C2C2]">Target Consumer Age</p>
                        <p class="font-medium text-sm text-[#1C1B1F]">18-34</p>
                    </div>
                </div>
                <div>
                    <p class="font-medium text-xs text-[#C2C2C2]">Location</p>
                    <p class="font-medium text-sm text-[#1C1B1F]">Westlands, Nairobi, Kenya</p>
                </div>
            </div>
            <div class="w-full md:w-[32%] p-5 rounded-3xl bg-[#F3F3F3] border-2 border-[#DFDFDF]">
                <div class="flex justify-between mb-5">
                    <h5 class="font-medium text-base text-[#1C1B1F]">Campaign Balance</h5>
                    <div class="w-[66px] h-6 rounded-[50px] bg-[#30A245] bg-opacity-20 flex justify-center items-center">
                        <p class="w-[42px] h-3 font-semibold text-[8px] text-[#30A245]">+100.00%</p>
                    </div>
                </div>
                <div class="mb-3">
                    <p><span class="font-bold text-xl text-[#1C1B1F]">16,050.33</span> <span class="text-sm font-bold text-[#1C1B1F]">KES</span> <span class="font-bold text-sm text-[#85899F]">/ 84,050.00 KES</span></p>
                </div>
                <div class="flex justify-between items-center mb-3">
                    <span class="font-normal text-xs text-[#959595]">This Month</span>
                    <img src="../../assets/graphs.png" alt="">
                </div>
                <div class="flex justify-between items-center mb-5">
                    <div class="flex justify-between items-center gap-1">
                        <img src="../../assets/south.png" alt="" class="bg-[#30A245] h-8 p-2">
                        <div class="w-full">
                            <p class="text-sm font-bold text-[#1C1B1F]"><span>68,000.</span><span class="text-xs">65 KES</span></p>
                            <p class="text-xs font-normal text-[#959595]">Deposits</p>
                        </div>
                    </div>
                    <div class="flex justify-between items-center gap-1">
                        <img src="../../assets/north.png" alt="" class="bg-[#CC142B] h-8 p-2">
                        <div class="w-full">
                            <p class="text-sm font-bold text-[#1C1B1F]"><span>51,950.</span><span class="text-xs">33 KES</span></p>
                            <p class="text-xs font-normal text-[#959595]">Payouts</p>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="w-full bg-[#FD6A02] rounded-[50px] font-bold text-sm text-[#FCFCFC] py-1 hover:bg-[#E66800]">Add Funds</button>
                    <button class="w-full bg-inherit border-2 border-[#FD6A02] rounded-[50px] font-bold text-sm text-[#FD6A02] py-1 mt-3">Request Statement</button>
                </div>
            </div>
            <div class="w-full md:w-[32%] p-5 rounded-3xl bg-[#F3F3F3] border-2 border-[#DFDFDF]">
                <div class="mb-3">
                    <p class="font-medium text-xs text-[#C2C2C2]">Campaign Logo</p>
                </div>
                <div class="flex justify-between items-center mb-3">
                    <div class="flex gap">
                        <img src="../../assets/corona-logo.jpeg" alt="" class="h-10 w-10 rounded-full">
                        <div>
                            <p class="font-medium text-sm text-[#040707]">Corona - Logo.png</p>
                            <p class="font-normal text-xs text-[#959595]">100KB</p>
                        </div>
                    </div>
                    <div>
                        <img src="../../assets/download.png" alt="">
                    </div>
                </div>
                <div class="mb-3">
                    <p class="font-medium text-xs text-[#C2C2C2] mb-3">Campaign Video</p>
                    <img src="../../assets/Rectangle 34624398.png" alt="">
                </div>
                <div class="flex justify-between items-center">
                    <div>
                        <p class="font-medium text-sm text-[#040707]">Corona - Campaign.mp4</p>
                        <p class="font-normal text-xs text-[#959595]">5MB</p>
                    </div>
                    <img src="../../assets/download.png" alt="">
                </div>
            </div>
        </div>
        <div class="block md:flex flex-wrap mt-10 ml-4 md:ml-16 gap-10 md:gap-4">
            <div class="w-11/12 mb-5 md:w-[650px] md:h-[406px] bg-[#F3F3F3] border-[#DFDFDF] border-2 rounded-3xl">
                <div class="flex justify-between items-center m-5">
                    <p class="h-6 font-semibold text-base text-[#1C1B1F]">Total Impressions</p>
                    <img src="../../assets/cached.png" alt="cached icon" class="w-6 h-6">
                </div>
                <div class="flex justify-center items-center mb-5 h-[18px] gap-[10px]">
                    <img src="../../assets/Rectangle 809.png" alt="viewers representation">
                    <p>Viewers</p>
                </div>
                <div class="flex justify-center items-center pl-5 pr-5 h-60">
                    <div class="w-full flex justify-center items-center">
                        <canvas #chartCanvas baseChart width="800px" height="240px"
                            [type]="'line'"
                            [data]="lineChartData"
                            [options]="lineChartOptions"
                            [legend]="lineChartLegend"
                        >
                        </canvas>
                    </div>
                </div>
                <div class="flex h-6 ml-5 mt-5">
                    <p>Last 7 Days</p>
                    <img src="../../assets/arrow_drop_down.png" alt="">
                </div>
            </div>
            <div class="w-11/12 md:w-[340px] md:h-[406px] border-2 border-[#DFDFDF] rounded-3xl bg-[#F3F3F3]">
                <div class="flex justify-between items-center m-5">
                    <p class="w-[74px] h-6 font-semibold text-[1rem] text-[#1C1B1F]">Summary</p>
                    <img src="../../assets/cached.png" alt="reset icon">
                </div>
                <div class="w-[187px] h-12 rounded-3xl bg-opacity-20 bg-[#30A245] flex justify-center items-center ml-5">
                    <p class="w-[119px] h-6 font-semibold text-[1rem] text-[#30A245]">Online Users: 0</p>
                </div>
                <div class="h-60">
                    <table class="divide-y mt-5 min-w-full mr-5 ml-5">
                        <thead>
                            <tr>
                                <th class="h-[18px] font-normal text-[0.75rem] text-[#1C1B1F] text-left tracking-wider">Time</th>
                                <th class="h-[18px] font-normal text-[0.75rem] text-[#1C1B1F] text-left tracking-wider">Users</th>
                                <th class="h-[18px] font-normal text-[0.75rem] text-[#1C1B1F] text-left tracking-wider">Impressions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let entry of summaryData.entries">
                                <td class="py-[4px] h-[18px] font-normal text-[0.75rem] text-[#1C1B1F]">{{entry.time}}</td>
                                <td class="h-[18px] font-bold text-[0.75rem] text-[#1520A6]">{{entry.users}}</td>
                                <td class="h-[18px] font-bold text-[0.75rem] text-[#1520A6]">{{entry.impressions}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="flex h-6 mb-5 ml-5 mt-[-10px]">
                    <p>Last 7 Days</p>
                    <img src="../../assets/arrow_drop_down.png" alt="">
                </div>
            </div>
        </div>
        <div class="block md:flex flex-wrap mt-10 ml-4 md:ml-16 gap-10 md:gap-4">
            <div class="w-11/12 mb-5 md:w-[650px] h-[406px] bg-[#F3F3F3] border-[#DFDFDF] border-2 rounded-3xl">
                <div class="flex justify-between items-center m-5">
                    <p class="h-6 font-semibold text-[1rem] text-[#1C1B1F]">Campaign Performance</p>
                    <img src="../../assets/cached.png" alt="cached icon" class="w-6 h-6">
                </div>
                <div class="overflow-auto">
                    <div class="min-w-max w-full">
                        <table class="divide-y w-full table-auto mx-5">
                            <thead>
                                <tr>
                                    <th class="h-[18px] font-normal text-[0.75rem] text-[#1C1B1F] text-left tracking-wider">Title</th>
                                    <th class="h-[18px] font-normal text-[0.75rem] text-[#1C1B1F] text-left tracking-wider">Ad Spend</th>
                                    <th class="h-[18px] font-normal text-[0.75rem] text-[#1C1B1F] text-left tracking-wider">Conversions</th>
                                    <th class="h-[18px] font-normal text-[0.75rem] text-[#1C1B1F] text-left tracking-wider">Impressions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let campaign of campaigns; let i = index">
                                    <td class="py-[4px] h-[18px] font-normal text-[0.75rem] text-[#1C1B1F]">{{i + 1}}. {{campaign.title}}</td>
                                    <td class="h-[18px] font-bold text-[0.75rem] text-[#1520A6]"><span class="text-[0.5rem]">ZAR</span> {{ campaign.adSpend | number:'1.2-2' }}</td>
                                    <td class="h-[18px] font-bold text-[0.75rem] text-[#1520A6]">{{campaign.conversions}}</td>
                                    <td class="h-[18px] font-bold text-[0.75rem] text-[#1520A6]">{{campaign.impressions}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="flex h-6 ml-5 mt-12">
                    <p>Last 7 Days</p>
                    <img src="../../assets/arrow_drop_down.png" alt="">
                </div>
            </div>
            <div class="w-11/12 md:w-[340px] h-[406px] border-2 border-[#DFDFDF] rounded-3xl bg-[#F3F3F3]">
                <div class="flex justify-between items-center m-5">
                    <p class="h-6 font-semibold text-[1rem] text-[#1C1B1F]">Gender Distribution</p>
                    <img src="../../assets/cached.png" alt="reset icon">
                </div>
                <div class="flex justify-center items-center mb-12">
                    <canvas baseChart width="250px" height="250px"
                    [labels]="doughnutChartLabels"
                    [datasets]="doughnutChartDatasets"
                    [options]="doughnutChartOptions"
                    [legend]="true"
                    [type]="'doughnut'"
                    >
                    </canvas>
                </div>
                <div class="flex h-6 ml-5">
                    <p>Last 7 Days</p>
                    <img src="../../assets/arrow_drop_down.png" alt="">
                </div>
            </div>
        </div>
        <div class="block md:flex flex-wrap mt-10 ml-4 md:ml-16 gap-10 md:gap-4">
            <div class="w-11/12 mb-5 md:w-[650px] h-[406px] bg-[#F3F3F3] border-[#DFDFDF] border-2 rounded-3xl">
                <div class="flex justify-between items-center m-5">
                    <p class="h-6 font-semibold text-[1rem] text-[#1C1B1F]">Impressions Map</p>
                    <img src="../../assets/cached.png" alt="cached icon" class="w-6 h-6">
                </div>
                <div class="flex justify-between items-start gap-6 ml-5 mr-[68px]">
                    <div class="flex flex-col gap-[10px] items-start">
                        <img src="../../assets/Add Product.png" alt="">
                        <img src="../../assets/Subtract Product.png" alt="">
                    </div>
                    <div class="h-[250px] w-[704px] flex">
                        <img src="../../assets/World Map.png" alt="World map" class="h-60 md:h-[260px]">
                    </div>
                </div>
                <div class="flex h-6 ml-5 mt-12">
                    <p>Last 7 Days</p>
                    <img src="../../assets/arrow_drop_down.png" alt="">
                </div>
            </div>
            <div class="w-11/12 md:w-[340px] h-[406px] border-2 border-[#DFDFDF] rounded-3xl bg-[#F3F3F3]">
                <div class="flex justify-between items-center m-5">
                    <p class="h-6 font-semibold text-[1rem] text-[#1C1B1F]">Top Locations</p>
                    <img src="../../assets/cached.png" alt="reset icon">
                </div>
                <div>
                    <table class="divide-y mt-5 min-w-max w-full table-auto mr-5 ml-5">
                        <thead>
                            <tr>
                                <th class="h-[18px] font-normal text-[0.75rem] text-[#1C1B1F] text-left tracking-wider">Location</th>
                                <th class="h-[18px] font-normal text-[0.75rem] text-[#1C1B1F] text-left tracking-wider">Impressions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let location of locations; let i = index">
                                <td class="py-[4px] h-[18px] font-normal text-[0.75rem] text-[#1C1B1F] text-left tracking-wider">{{i + 1}} {{location.location}}</td>
                                <td class="h-[18px] font-bold text-[0.75rem] text-[#1520A6]">{{location.impressions}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="flex h-6 ml-5 mt-5">
                    <p>Last 7 Days</p>
                    <img src="../../assets/arrow_drop_down.png" alt="">
                </div>
            </div>
        </div>
        <div class="block md:flex flex-wrap mt-10 ml-4 md:ml-16 gap-10 md:gap-4">
            <div class="w-11/12 mb-5 md:w-[650px] h-[406px] bg-[#F3F3F3] border-[#DFDFDF] border-2 rounded-3xl">
                <div class="flex justify-between items-center m-5">
                    <p class="h-6 font-semibold text-[1rem] text-[#1C1B1F]">Top Device Models</p>
                    <img src="../../assets/cached.png" alt="cached icon" class="w-6 h-6">
                </div>
                <div class="flex justify-between items-center m-5 mt-12">
                    <canvas baseChart width="250px" height="85px"
                    [data]="horizontalBarChartData"
                    [options]="horizontalBarChartOptions"
                    [type]="'bar'"
                    >
                    </canvas>
                </div>
                <div class="flex relative h-6 ml-5 mt-12">
                    <p class="inline-block">Last 7 Days</p>
                    <img src="../../assets/arrow_drop_down.png" alt="">
                </div>
            </div>
            <div class="w-11/12 md:w-[340px] h-[406px] border-2 border-[#DFDFDF] rounded-3xl bg-[#F3F3F3]">
                <div class="flex justify-between items-center m-5">
                    <p class="h-6 font-semibold text-[1rem] text-[#1C1B1F]">Age Breakdown</p>
                    <img src="../../assets/cached.png" alt="reset icon">
                </div>
                <div class="flex justify-center items-center mb-12">
                    <canvas baseChart width="250px" height="250px"
                    [labels]="secondDoughnutChartLabels"
                    [datasets]="secondDoughnutChartDatasets"
                    [options]="secondDoughnutChartOptions"
                    [legend]="true"
                    [type]="'doughnut'"
                    >
                    </canvas>
                </div>
                <div class="flex h-6 ml-5">
                    <p>Last 7 Days</p>
                    <img src="../../assets/arrow_drop_down.png" alt="">
                </div>
            </div>
        </div>
        <footer>
            <div class="max-w-full w-screen md:w-full h-[50px] bg-[#F1F5F7] mt-20 pr-4 md:pr-20 pl-4 md:pl-20 flex justify-between items-center">
                <div class="max-w-6xl mx-auto w-full flex justify-between items-center">
                    <div class="h-[21px]">
                        <p class="font-normal text-sm text-[#1C1B1F]">{{currentYear}} &copy; RewardAdz. All Rights Reserved.</p>
                    </div>
                    <div>
                        <p class="font-normal text-[0.875rem] text-[#1C1B1F]">Terms and Conditions | Privacy Policy</p>
                    </div>
                    <div class="flex gap-[5px] h-[14px]">
                        <a href=""><img src="../../assets/Facebook - Negative.png" alt=""></a>
                        <a href=""><img src="../../assets/Twitter - Negative.png" alt=""></a>
                        <a href=""><img src="../../assets/Instagram - Negative.png" alt=""></a>
                        <a href=""><img src="../../assets/LinkedIn - Negative.png" alt=""></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
