<div class="container">
    <div class="description-container">
        <div class="description-text-container">
            <img src="../../assets/RewardAdz - Logo.png" alt="logo" class="logo">
            <h2 class="description-title">Let the Ad-Venture Begin!</h2>
            <div class="description-description">
                <p class="description-text-1">Experience the New Way to Advertise with RewardAdz!</p>
                <p class="description-text-2">Are you ready to embark on an exciting journey where engagement meets rewards? Look no further! Welcome to RewardAdz, the platform that revolutionizes the advertising landscape. We're thrilled to have you join us and explore a world where Ads aren't just seen, they're experienced and rewarded.</p>
            </div>
        </div>
    </div>
    <div class="sign-in-container">
        <div class="sign-in-form-container">
            <h3 class="sign-in-title">Sign Up</h3>
            <img src="../../assets/3071354 1.png" alt="" class="sign-in-image">
            <h5 class="sign-in-step">Step 1 of 4</h5>
            <div class="progress-bar">
                
            </div>
            <div class="sign-in-form">
                <form action="" class="sign-in-form-elements">
                    <label for="company-name" class="email-label">Company Name</label>
                    <input type="text" name="company-name" id="company-name" class="email-input" placeholder="Adanian Labs Limited">
                    <hr>
                    <label for="company-email">Company Email</label>
                    <input type="email" name="company-email" id="company-email" placeholder="adalabsltd@gmail.com">
                    <hr>
                    <label for="admin-username">Administrator Username</label>
                    <input type="text" name="admin-username" id="admin-username" placeholder="adalabsltd_ke">
                    <hr>
                    <label for="password">Phone Number</label>
                    <input type="password" name="password" id="password" placeholder="********">
                    <hr>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="********">
                    <hr>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="********">
                    <hr>
                </form>
                <a href="#" class="forgot-password">Forgot Password?</a>
                <button type="submit">Sign In</button>
                <p>Don't have an account? <a href="#">Create an account</a></p>
            </div>
        </div>
    </div>
</div>
