<div class="container">
    <div class="description-container">
        <div class="description-text-container">
            <img src="../../assets/RewardAdz - Logo.png" alt="logo" class="logo">
            <h2 class="description-title">Let the Ad-Venture Begin!</h2>
            <div class="description-description">
                <p class="description-text-1">Experience the New Way to Advertise with RewardAdz!</p>
                <p class="description-text-2">Are you ready to embark on an exciting journey where engagement meets rewards? Look no further! Welcome to RewardAdz, the platform that revolutionizes the advertising landscape. We're thrilled to have you join us and explore a world where Ads aren't just seen, they're experienced and rewarded.</p>
            </div>
        </div>
    </div>
    <div class="sign-in-container">
        <div class="sign-in-form-container">
            <h3 class="sign-in-title">Sign Up</h3>
            <img src="../../assets/6310505 1.png" alt="" class="sign-in-image">
            <h5 class="sign-in-step">Step 3 of 4</h5>
            <div class="progress-bar">
                <div class="progress" style="width: 75%;"></div>   
            </div>
            <div class="upload-container">
                <div class="file-upload">
                    <label for="certificate-upload" class="upload-label">Company Logo</label>
                    <div class="upload-area-container">
                        <div class="upload-area">
                            <input type="file" id="certificate-upload" class="upload-input" [(ngModel)]="companyLogo">
                            <img src="../../assets/Combined shape 10534.png" alt="upload icon" class="upload-icon">
                            <p>Drop files here or click to upload</p>
                        </div>
                    </div>
                </div>
                <label for="company-color" class="upload-label">Company Theme Color</label>
                <div class="color-choice flex gap-2">
                    <input type="color" name="company-color" id="company-color" class="email-input" value="#1520A6" [(ngModel)]="companyThemeColor">
                    <p>{{companyThemeColor}}</p>
                </div>
                <hr>
            </div>
            <button type="submit" (click)="completeSignUp()" style="margin-top: 30px;">Complete Sign Up</button>
            <p class="already-account">Already have an account? <a [routerLink]="['/login']">Sign In</a></p>
        </div>
    </div>
</div>
