<div class="min-h-screen flex bg-slate-50 w-[1920px]">
    <aside class="w-96  max-h-[1080px] bg-[#1520A6] shadow-md hidden  sm:block">
        <img src="../../assets/RewardAdz - Logo.png" alt="logo" class="w-60 h-10 mt-10 ml-10">
        <div class="w-96 h-[2px] bg-[#FCFCFC] mt-10">
        </div>
        <div class="w-96 h-12 flex items-center gap-4 mt-10 p-10 bg-[#FCFCFC] text-[#1520A6]">
            <img src="../../assets/home.png" alt="home icon" class="w-6 h-6">
            <p class="font-medium text-xl">Dashboard</p>
        </div>
        <div class="w-96 h-12 flex items-center gap-4 p-10 text-[#FCFCFC]">
            <img src="../../assets/campaign.png" alt="campaign icon" class="w-6 h-6">
            <p class="font-medium text-xl">Campaigns</p>
        </div>
        <div class="w-96 h-12 flex items-center gap-4 p-10 text-[#FCFCFC]">
            <img src="../../assets/receipt_long.png" alt="receipt icon" class="w-6 h-6">
            <p class="font-medium text-xl">Transactions</p>
        </div>
        <div class="w-96 h-12 flex items-center gap-4 p-10 text-[#FCFCFC]">
            <img src="../../assets/diversity_2.png" alt="Network icon" class="w-6 h-6">
            <p class="font-medium text-xl">Advertiser Network</p>
        </div>
        <div class="w-96 h-12 flex items-center gap-4 p-10 text-[#FCFCFC]">
            <img src="../../assets/diversity_3.png" alt="Team icon" class="w-6 h-6">
            <p class="font-medium text-xl">My Team</p>
        </div>
        <div class="w-96 h-12 flex items-center gap-4 p-10 text-[#FCFCFC]">
            <img src="../../assets/settings.png" alt="Settings icon" class="w-6 h-6">
            <p class="font-medium text-xl">Settings</p>
        </div>
        <div class="w-96 h-[2px] bg-[#FCFCFC] mt-[350px]">
        </div>
        <div class="w-96 h-12 flex items-center gap-4 p-10 text-[#FCFCFC]">
            <img src="../../assets/logout.png" alt="Settings icon" class="w-6 h-6">
            <p class="font-medium text-xl">Sign Out</p>
        </div>
    </aside>
    <div class="flex-1 flex flex-col w-">
        <header class="flex items-center justify-between shadow-md w-[1560px] h-[122px] bg-[#F1F5F7] box-border">
            <div class="flex items-center gap-2">
                <img src="../../assets/sort.png" alt="sort icon" class="mr-10 ml-40">
                <div>
                    <input type="text" placeholder="Search..." class="bg-[#F1F5F7] focus:outline-none">
                    <div class="w-[280px] h-[2px] bg-[#1C1B1F]"></div>
                </div>
            </div>
            <div class="flex items-center gap-4 mr-40">
                <img src="../../assets/3f60f9744ac4459d50c7a70d75ca6368.png" alt="South African Flag" class="w-9 h-9 rounded-full mr-5">
                <img src="../../assets/fullscreen_exit.png" alt="fullscreen exit icon" class="w-9 h-9 mr-5">
                <img src="../../assets/notifications.png" alt="Notifications icon" class="w-9 h-9 mr-[43px]">
                <div class="flex items-center gap-2">
                    <img src="../../assets/Screenshot 2024-02-14 at 12.34.35.png" alt="user profile picture" class="w-9 h-9 rounded-full">
                    <p class="h-6 font-medium text-[1rem]">John Kamara</p>
                    <img src="../../assets/arrow_drop_down.png" alt="drop-down arrow" class="h-6 w-6">
                </div>
                <img src="../../assets/settings (1).png" alt="settings icon" class="w-9 h-9">
            </div>
        </header>
        <div class="w-full ml-40 mt-[37px]">
            <h1 class="h-[41px] text-[28px] font-semibold">Welcome, John Kamara</h1>
        </div>
        <div class="flex flex-wrap gap-10 m-4 mt-10 ml-40">
            <div class="w-[280px] h-[148px] rounded-3xl bg-[#F3F3F3] border-2 border-[#DFDFDF] p-5">
                <div class="flex justify-between">
                    <h4 class="w-[88px] h-6 font-semibold text-[1rem] text-[#1C1B1F]">Campaigns</h4>
                    <div class="w-[66px] h-6 rounded-[50px] bg-[#30A245] bg-opacity-20 z-10 flex justify-center items-center">
                        <p class="w-[42px] h-3 font-semibold text-[8px] text-[#30A245]">+100.00%</p>
                    </div>
                </div>
                <p class="w-4 h-9 font-bold text-2xl text-[#1C1B1F] mt-5">8</p>
                <div class="flex justify-between items-center">
                    <p class="w-[65px] h-[18px] font-medium text-[12px] text-[#959595] mt-[10px]">This Month</p>
                    <img src="../../assets/graphs.png" alt="graph" class="w-[66px] h-[18px]">
                </div>
            </div>
            <div class="w-[280px] h-[148px] rounded-3xl bg-[#F3F3F3] border-2 border-[#DFDFDF] p-5">
                <div class="flex justify-between">
                    <h4 class="w-[95px] h-6 font-semibold text-[1rem] text-[#1C1B1F]">Impressions</h4>
                    <div class="w-[66px] h-6 rounded-[50px] bg-[#F64444] bg-opacity-20 z-10 flex justify-center items-center">
                        <p class="w-[42px] h-3 font-semibold text-[8px] text-[#F64444]">+100.00%</p>
                    </div>
                </div>
                <p class="w-[83px] h-9 font-bold text-2xl text-[#1C1B1F] mt-5">18,060</p>
                <div class="flex justify-between items-center">
                    <p class="w-[65px] h-[18px] font-medium text-[12px] text-[#959595] mt-[10px]">This Month</p>
                    <img src="../../assets/graphs (1).png" alt="graph" class="w-[66px] h-[18px]">
                </div>
            </div>
            <div class="w-[280px] h-[148px] rounded-3xl bg-[#F3F3F3] border-2 border-[#DFDFDF] p-5">
                <div class="flex justify-between">
                    <h4 class="w-[76px] h-6 font-semibold text-[1rem] text-[#1C1B1F]">Ad Spend</h4>
                    <div class="w-[66px] h-6 rounded-[50px] bg-[#30A245] bg-opacity-20 z-10 flex justify-center items-center">
                        <p class="w-[42px] h-3 font-semibold text-[8px] text-[#30A245]">+100.00%</p>
                    </div>
                </div>
                <p class="w-[154px] h-9 font-bold text-2xl text-[#1C1B1F] mt-5"><span class="text-[16px]">ZAR. </span>4658.00</p>
                <div class="flex justify-between items-center">
                    <p class="w-[65px] h-[18px] font-medium text-[12px] text-[#959595] mt-[10px]">This Month</p>
                    <img src="../../assets/graphs.png" alt="graph" class="w-[66px] h-[18px]">
                </div>
            </div>
            <div class="w-[280px] h-[148px] rounded-3xl bg-[#F3F3F3] border-2 border-[#DFDFDF] p-5">
                <div class="flex justify-between">
                    <h4 class="w-[131px] h-6 font-semibold text-[1rem] text-[#1C1B1F]">Account Balance</h4>
                    <div class="w-[66px] h-6 rounded-[50px] bg-[#F64444] bg-opacity-20 z-10 flex justify-center items-center">
                        <p class="w-[42px] h-3 font-semibold text-[8px] text-[#F64444]">+100.00%</p>
                    </div>
                </div>
                <p class="w-[157px] h-9 font-bold text-2xl text-[#1C1B1F] mt-5"><span class="text-[16px]">ZAR. </span>17,560.31</p>
                <div class="flex justify-between items-center">
                    <p class="w-[65px] h-[18px] font-medium text-[12px] text-[#959595] mt-[10px]">This Month</p>
                    <img src="../../assets/graphs (1).png" alt="graph" class="w-[66px] h-[18px]">
                </div>
            </div>
        </div>
        <div class="flex mt-10 ml-40 gap-10">
            <div class="w-[840px] h-[406px] bg-[#F3F3F3] border-[#DFDFDF] border-2 rounded-3xl">
                <div class="flex justify-between items-center m-5">
                    <p class="w-[137px] h-6 font-semibold text-[1rem] text-[#1C1B1F]">Total Impressions</p>
                    <img src="../../assets/cached.png" alt="cached icon" class="w-6 h-6">
                </div>
                <div class="flex justify-center items-center mb-5 h-[18px] gap-[10px]">
                    <img src="../../assets/Rectangle 809.png" alt="viewers representation">
                    <p>Viewers</p>
                </div>
                <div class="flex justify-center items-center pl-5 pr-5 h-60">
                    <div class="w-full flex justify-center items-center">
                        <canvas #chartCanvas baseChart width="800px" height="240px"
                            [type]="'line'"
                            [data]="lineChartData"
                            [options]="lineChartOptions"
                            [legend]="lineChartLegend"
                        >
                        </canvas>
                    </div>
                </div>
                <div class="flex h-6 ml-5 mt-5">
                    <p>Last 7 Days</p>
                    <img src="../../assets/arrow_drop_down.png" alt="">
                </div>
            </div>
            <div class="w-[360px] h-[406px] border-2 border-[#DFDFDF] rounded-3xl bg-[#F3F3F3]">
                <div class="flex justify-between items-center m-5">
                    <p class="w-[74px] h-6 font-semibold text-[1rem] text-[#1C1B1F]">Summary</p>
                    <img src="../../assets/cached.png" alt="reset icon">
                </div>
                <div class="w-[187px] h-12 rounded-3xl bg-opacity-20 bg-[#30A245] flex justify-center items-center ml-5">
                    <p class="w-[119px] h-6 font-semibold text-[1rem] text-[#30A245]">Online Users: 0</p>
                </div>
                <div class="h-60">
                    <table class="divide-y mt-5 min-w-full mr-5 ml-5">
                        <thead>
                            <tr>
                                <th class="h-[18px] font-normal text-[0.75rem] text-[#1C1B1F] text-left tracking-wider">Time</th>
                                <th class="h-[18px] font-normal text-[0.75rem] text-[#1C1B1F] text-left tracking-wider">Users</th>
                                <th class="h-[18px] font-normal text-[0.75rem] text-[#1C1B1F] text-left tracking-wider">Impressions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let entry of summaryData.entries">
                                <td class="py-[4px] h-[18px] font-normal text-[0.75rem] text-[#1C1B1F]">{{entry.time}}</td>
                                <td class="h-[18px] font-bold text-[0.75rem] text-[#1520A6]">{{entry.users}}</td>
                                <td class="h-[18px] font-bold text-[0.75rem] text-[#1520A6]">{{entry.impressions}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="flex h-6 mb-5 ml-5 mt-[-10px]">
                    <p>Last 7 Days</p>
                    <img src="../../assets/arrow_drop_down.png" alt="">
                </div>
            </div>
        </div>
        <div class="flex mt-10 ml-40 gap-10">
            <div class="w-[840px] h-[406px] bg-[#F3F3F3] border-[#DFDFDF] border-2 rounded-3xl">
                <div class="flex justify-between items-center m-5">
                    <p class="h-6 font-semibold text-[1rem] text-[#1C1B1F]">Campaign Performance</p>
                    <img src="../../assets/cached.png" alt="cached icon" class="w-6 h-6">
                </div>
                <div class="h-60">
                    <table class="divide-y mt-5 min-w-max w-full table-auto mr-5 ml-5">
                        <thead>
                            <tr>
                                <th class="h-[18px] font-normal text-[0.75rem] text-[#1C1B1F] text-left tracking-wider">Title</th>
                                <th class="h-[18px] font-normal text-[0.75rem] text-[#1C1B1F] text-left tracking-wider">Ad Spend</th>
                                <th class="h-[18px] font-normal text-[0.75rem] text-[#1C1B1F] text-left tracking-wider">Conversions</th>
                                <th class="h-[18px] font-normal text-[0.75rem] text-[#1C1B1F] text-left tracking-wider">Impressions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let campaign of campaigns; let i = index">
                                <td class="py-[4px] h-[18px] font-normal text-[0.75rem] text-[#1C1B1F]">{{i + 1}}. {{campaign.title}}</td>
                                <td class="h-[18px] font-bold text-[0.75rem] text-[#1520A6]"><span class="text-[0.5rem]">ZAR</span> {{ campaign.adSpend | number:'1.2-2' }}</td>
                                <td class="h-[18px] font-bold text-[0.75rem] text-[#1520A6]">{{campaign.conversions}}</td>
                                <td class="h-[18px] font-bold text-[0.75rem] text-[#1520A6]">{{campaign.impressions}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="flex h-6 ml-5 mt-12">
                    <p>Last 7 Days</p>
                    <img src="../../assets/arrow_drop_down.png" alt="">
                </div>
            </div>
            <div class="w-[360px] h-[406px] border-2 border-[#DFDFDF] rounded-3xl bg-[#F3F3F3]">
                <div class="flex justify-between items-center m-5">
                    <p class="h-6 font-semibold text-[1rem] text-[#1C1B1F]">Gender Distribution</p>
                    <img src="../../assets/cached.png" alt="reset icon">
                </div>
                <div class="flex justify-center items-center mb-12">
                    <canvas baseChart width="250px" height="250px"
                    [labels]="doughnutChartLabels"
                    [datasets]="doughnutChartDatasets"
                    [options]="doughnutChartOptions"
                    [legend]="true"
                    [type]="'doughnut'"
                    >
                    </canvas>
                </div>
                <div class="flex h-6 ml-5">
                    <p>Last 7 Days</p>
                    <img src="../../assets/arrow_drop_down.png" alt="">
                </div>
            </div>
        </div>
        <div class="flex mt-10 ml-40 gap-10">
            <div class="w-[840px] h-[406px] bg-[#F3F3F3] border-[#DFDFDF] border-2 rounded-3xl">
                <div class="flex justify-between items-center m-5">
                    <p class="h-6 font-semibold text-[1rem] text-[#1C1B1F]">Impressions Map</p>
                    <img src="../../assets/cached.png" alt="cached icon" class="w-6 h-6">
                </div>
                <div class="flex justify-between items-start gap-6 ml-5 mr-[68px]">
                    <div class="flex flex-col gap-[10px] items-start">
                        <img src="../../assets/Add Product.png" alt="">
                        <img src="../../assets/Subtract Product.png" alt="">
                    </div>
                    <div class="h-[250px] w-[704px] flex">
                        <img src="../../assets/World Map.png" alt="World map" class="h-[302px]">
                    </div>
                </div>
                <div class="flex h-6 ml-5 mt-12">
                    <p>Last 7 Days</p>
                    <img src="../../assets/arrow_drop_down.png" alt="">
                </div>
            </div>
            <div class="w-[360px] h-[406px] border-2 border-[#DFDFDF] rounded-3xl bg-[#F3F3F3]">
                <div class="flex justify-between items-center m-5">
                    <p class="w-[74px] h-6 font-semibold text-[1rem] text-[#1C1B1F]">Summary</p>
                    <img src="../../assets/cached.png" alt="reset icon">
                </div>
                <div>
                    <table class="divide-y mt-5 min-w-max w-full table-auto mr-5 ml-5">
                        <thead>
                            <tr>
                                <th class="h-[18px] font-normal text-[0.75rem] text-[#1C1B1F] text-left tracking-wider">Location</th>
                                <th class="h-[18px] font-normal text-[0.75rem] text-[#1C1B1F] text-left tracking-wider">Impressions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let location of locations; let i = index">
                                <td class="py-[4px] h-[18px] font-normal text-[0.75rem] text-[#1C1B1F] text-left tracking-wider">{{i + 1}} {{location.location}}</td>
                                <td class="h-[18px] font-bold text-[0.75rem] text-[#1520A6]">{{location.impressions}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="flex h-6 ml-5 mt-5">
                    <p>Last 7 Days</p>
                    <img src="../../assets/arrow_drop_down.png" alt="">
                </div>
            </div>
        </div>
        <div class="flex mt-10 ml-40 gap-10">
            <div class="w-[840px] h-[406px] bg-[#F3F3F3] border-[#DFDFDF] border-2 rounded-3xl">
                <p>Graph goes here</p>
            </div>
            <div class="w-[360px] h-[406px] border-2 border-[#DFDFDF] rounded-3xl bg-[#F3F3F3]">
                <p>Table goes here</p>
            </div>
        </div>
    </div>
</div>
